### Editors ###

### Common
.DS_STORE

### Intellij
# IDEA configurations
*.iml
*.ipr
*.iws
.idea/**

# Make sure to commit run configurations and vcs configurations
!.idea/runConfigurations
!.idea/runConfigurations/*.xml
!.idea/vcs.xml

# IDEA output directory
/out/

### Build Tools ###

### Gradle
# Cache
.gradle/

# Build Directory
build/

# Specify that certain gradle files should always be committed
!gradle/wrapper/
!build.old.gradle
!gradlew
!gradlew.bat
!settings.gradle.kts

### NodeJS
# Node Modules
/node_modules/

# package and lock should always be committed
!package.json
!package-lock.json



### Misc ###

# Publications Upload Keys
/gradle/bintray.properties

# Commit GitHub Repo Stuff
!LICENSE
!README.md
